name: soundsliced_tween_animation_builder
description: A Flutter package providing a custom TweenAnimationBuilder that uses Timer-based animations, surviving hot restarts without engine assertions.
issue_tracker: https://github.com/Soundsliced/soundsliced_tween_animation_builder/issues
repository: https://github.com/Soundsliced/soundsliced_tween_animation_builder
version: 1.1.1
homepage: https://github.com/Soundsliced/soundsliced_tween_animation_builder

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
