name: soundsliced_tween_animation_builder
description: A Flutter package for animation functionality
version: 1.0.0
homepage: https://github.com/Soundsliced/soundsliced_tween_animation_builder

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
